* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 50%;
    height: 100vh;
}
#maze {
    height: 84.1vh;
    background-color: brown ;
}
p {
    text-align: center;
}
body {
    display: flex;
}
#score {
    width: 50vw;
    height: auto;
    background-color: rgb(29, 27, 27);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-size: 2rem;
}

.divX {
    display: flex;
    justify-content: space-between;
}
.wall { 
    background-image: url(https://cdn-icons-png.flaticon.com/512/740/740842.png);
    background-size: contain;
    background-repeat: no-repeat;
    width:5vw;
    height: 7vh;
}

.path { 
    background-image: url(https://img.freepik.com/free-vector/cartoon-style-stone-texture_1110-877.jpg?size=338&ext=jpg);
    width:5vw;
    background-size: cover;


}

.hero {
    background-image: url(https://assets.webiconspng.com/uploads/2017/09/Pirate-PNG-Image-55374.png), url(https://img.freepik.com/free-vector/cartoon-style-stone-texture_1110-877.jpg?size=338&ext=jpg);
    width:5vw;
    background-size: cover;


}
.treasure {
    background-image: url(https://cdn1.iconfinder.com/data/icons/cash-coin-essentials-colored/48/JD-28-512.png), url(https://img.freepik.com/free-vector/cartoon-style-stone-texture_1110-877.jpg?size=338&ext=jpg);
    width:5vw;
    background-size: cover;
}

.skeleton {
    background-image: url(https://cdn4.iconfinder.com/data/icons/halloween-2193/64/skeleton-human-halloween-bone-scary-512.png), url(https://img.freepik.com/free-vector/cartoon-style-stone-texture_1110-877.jpg?size=338&ext=jpg);
    width:5vw;
    background-size: cover;
}

.coin {
    background-image: url(https://cdn0.iconfinder.com/data/icons/cash-card-starters-colored/48/JD-02-512.png), url(https://img.freepik.com/free-vector/cartoon-style-stone-texture_1110-877.jpg?size=338&ext=jpg);
    width:5vw;
    background-size: cover;
}