* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 250px;
    height: 250px;
}
p {
    text-align: center;
}

div {
    display: flex;
    justify-content: space-between;
}
.wall { 
    background-color: red;
    width:20px;
    height: 20px;
}

.path { 
    background-color: green;
    width:20px;

}

.hero {
    background-color: blue;
    width:20px;


}
.treasure {
    background-color: yellow;
    width:20px;

}