* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 100vw;
    height: 100vh;
}
#maze {
    width: 100%;
    background-color: brown ;
}
p {
    text-align: center;
}

.divX {
    display: flex;
    justify-content: center;
}
.wall { 
    background-image: url(https://cdn-icons-png.flaticon.com/512/740/740842.png);
    background-size: contain;
    background-repeat: no-repeat;
    width:7vw;
    height: 4vh;
}

.path { 
    background-image: url(https://img.freepik.com/free-vector/cartoon-style-stone-texture_1110-877.jpg?size=338&ext=jpg);
    width: 7vw;
    background-size: cover;


}

.hero {
    background-image: url(https://assets.webiconspng.com/uploads/2017/09/Pirate-PNG-Image-55374.png), url(https://img.freepik.com/free-vector/cartoon-style-stone-texture_1110-877.jpg?size=338&ext=jpg);
    width: 7vw;
    background-size: cover;


}
.treasure {
    background-image: url(https://cdn1.iconfinder.com/data/icons/cash-coin-essentials-colored/48/JD-28-512.png), url(https://img.freepik.com/free-vector/cartoon-style-stone-texture_1110-877.jpg?size=338&ext=jpg);
    width: 7vw;
    background-size: cover;
}

.skeleton {
    background-image: url(https://cdn4.iconfinder.com/data/icons/halloween-2193/64/skeleton-human-halloween-bone-scary-512.png), url(https://img.freepik.com/free-vector/cartoon-style-stone-texture_1110-877.jpg?size=338&ext=jpg);
    width: 7vw;
    background-size: cover;
}


.coin {
    background-image: url(https://cdn0.iconfinder.com/data/icons/cash-card-starters-colored/48/JD-02-512.png), url(https://img.freepik.com/free-vector/cartoon-style-stone-texture_1110-877.jpg?size=338&ext=jpg);
    width:7vw;
    background-size: cover;
}